body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  cursor: pointer;
}

.btn-delete {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #FFF;
}
.btn-search {
  background-color: #25e391;
  border-color: #3ed435;
  color: #000;
  border-radius: 15px;
}
.btn-loadmore {
  background-color: #0f38d9;
  border-color: #0064d4;
  color: #FFF;
  border-radius: 15px;
}